# Creating a tuple

In [1]:
car = ("Ford", "Raptor", 2019, "Red")
print(car)

print(len(car))

print(car[1])

print(car[2:])

('Ford', 'Raptor', 2019, 'Red')
4
Raptor
(2019, 'Red')

# Merging tuples

In [2]:
hero_names = ("Batman", "Wonder Woman", "Superman")
hero_ages = (35, 80, 40)
hero_powers = ("Martial Arts", "Super Strength", "Flight")
merged_heroes_info = hero_names + hero_ages + hero_powers
print(merged_heroes_info)

('Batman', 'Wonder Woman', 'Superman', 35, 80, 40, 'Martial Arts', 'Super Strength', 'Flight')

# Nested tuples

In [3]:
hero1 = ("Batman", "Bruce Wayne", 35, 85.5)
hero2 = ("Wonder Woman", "Diana Prince", 80, 99.9)
awesome_team = (hero1, hero2)
print(awesome_team)

(('Batman', 'Bruce Wayne', 35, 85.5), ('Wonder Woman', 'Diana Prince', 80, 99.9))

# Search

In [4]:
cities = ("London", "Paris", "Los Angeles", "Tokyo")
print("Tokyo" in cities)
print("Moscow" in cities)

True
False

In [5]:
cities_set1 = ("London", "Paris", "Los Angeles", "Tokyo")
print(cities_set1.index("Tokyo"))

cities_set2 = (
    ("London", 8.9, "UK"),
    ("Paris", 2.1, "France"),
    ("Los Angeles", 3.9, "USA"),
    ("Tokyo", 14.0, "Japan")
)

tokyo_index = [city[0] for city in cities_set2].index("Tokyo")
print(f"Index of Tokyo: {tokyo_index}")

3
Index of Tokyo: 3